@import "../components/variables";

#footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background: #eef1f6;

    .copyright {
        @include respond-to("sm") {
            display: none;
        }
    }

    &>div {
        &>div:last-child {
            margin-top: 80px;
        }
    }

    a {
        color: black;
        font-size: 16px;
    }

    span {
        font-size: 15px;
        font-weight: 500;
    }

    a:last-child {
        path {
            fill: #CA3174;
        }
    }
}

#subscribe {
    background-color: white;
    border-radius: 15px;

    &>div {
        @include respond-to("sm") {
            width: 100%;
        }
    }

    &>div {
        padding: 70px;
        @include respond-to("sm") {
            padding: 30px;
        }

        p {
            line-height: 2;
            font-size: 14px;
        }

        a {
            font-size: 15px;
            text-decoration: none;
            background-image: linear-gradient(to right,
                    #fa2d4a 0%,
                    #ed8c92 51%,
                    #fa2d4a 100%);
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0px 17px 25px #f0c7cf;
            border-radius: 10px;
            display: block;

            &:hover {
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}