@import "../components/variables";

.subTitle {
  line-height: 1.45em;
  font-weight: 600;
}

.giftDescription {
  font-size: 13px;
}

.giftButton {
  font-size: 15px;
  padding: 15px;
  @include gradientButton;
}

#wrapGrey {
  background: #eef1f6;

  #popularGift {
    margin-top: 50px;
    &>div {
      display: flex;
      grid-gap: 15px;

      @include respond-to("md") {
        flex-wrap: wrap;
        align-items: center;
      }

      &>a {
        @include respond-to("md") {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 2 - 15px);
          height: 80px;
        }

        font-weight: 500;
        border: solid thin #bfc2c7;
        border-radius: 15px;
        padding: 15px;

        span {
          color: black;
        }

        &:hover {
          border: none;

          span {
            color: white;
          }

          background: #150e4b;
        }

        &:global(.active) {
          border: none;

          span {
            color: white;
          }

          background: #150e4b;
        }
      }
    }
  }

  .viewAll {
    a {
      width: 130px;
      font-size: 15px;
      padding: 15px;
      @include gradientButton;
    }
  }

  #specialize {
    &>h2 {
      margin-top: 100px;
      line-height: 2;
    }

    &>p {
      line-height: 2;
    }

    &>div {
      display: flex;
      grid-gap: 20px;

      @include respond-to("md") {
        flex-direction:
          column;
      }

      &>div {
        padding: 40px 0px;
        color: black;
        background: white;
        width: calc(100% / 4);
        border-radius: 20px;

        @include respond-to("md") {
          width: 100%;
        }

        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #different {
    margin-top: 150px;

    &>div {
      @include respond-to("md") {
        width: 100%;
      }

      &>h1 {
        line-height: 2;
      }

      &>p {
        line-height: 1.8;
      }

      a {
        width: 130px;
        font-size: 15px;
        padding: 15px;
        @include gradientButton;
      }

      iframe {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  #work {
    margin-top: 150px;

    &>div {
      &:hover {
        cursor: pointer;
        border-radius: 20px;
        background: white;
      }

      h5 {
        line-height: 1.6;
      }

      p {
        font-size: 14px;
        line-height: 2;
      }

      &>a {
        font-weight: 500;
        font-size: 15px;
        border: solid thin #bfc2c7;
        border-radius: 15px;
        padding: 12px;
        width: 120px;

        span {
          color: black;
        }

        &:hover {
          border: solid thin #ed8c92;

          span {
            color: white;
          }

          background-image: linear-gradient(to right,
            #fa2d4a 0%,
            #ed8c92 100%,
            #fa2d4a 100%);
        }
      }
    }
  }
}