.subTitle {
  line-height: 1.45em;
  font-weight: 600;
}

.giftDescription {
  font-size: 13px;
}

.giftButton {
  font-size: 15px;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #fa2d4a 0%,
    #ed8c92 51%,
    #fa2d4a 100%
  );
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0px 17px 25px #f0c7cf;
  border-radius: 10px;
  display: block;

  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

#collection {
  background: #eef1f6;

  .categoryGift {
    margin-top: 180px;
    margin-bottom: 80px;
    display: flex;
    grid-gap: 20px;
    & > a {
      font-weight: 500;
      height: 180px;
      border-radius: 15px;
      background: white;
      span {
        font-weight: 500;
      }
    }
  }
  #popularGift {
    display: flex;
    grid-gap: 15px;
    & > a {
      font-weight: 500;
      border: solid thin #bfc2c7;
      border-radius: 15px;
      padding: 15px;
      span {
        color: black;
      }
      &:hover {
        border: none;
        span {
          color: white;
        }
        background: #150e4b;
      }
      &:global(.active) {
        border: none;
        span {
          color: white;
        }
        background: #150e4b;
      }
    }
  }
  #gift {
    display: flex;
    grid-gap: 26px;
    & > a {
      font-weight: 500;
      color: #150e4b;
      background: white;
      width: 265px;
      border-radius: 20px;
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        object-fit: cover;
      }
      & > div {
        padding-top: 30px;
        padding-bottom: 35px;
        & > div {
          h4 {
            font-size: 22px;
          }
          & > span {
            margin-top: 5px;
            font-size: 12px;
          }
          & > a {
            font-weight: 500;
            font-size: 12px;
            border: solid thin #bfc2c7;
            border-radius: 15px;
            padding: 10px;
            width: 100px;
            span {
              color: black;
            }
            &:hover {
              border: solid thin #ed8c92;
              span {
                color: white;
              }
              background-image: linear-gradient(
                to right,
                #fa2d4a 0%,
                #ed8c92 100%,
                #fa2d4a 100%
              );
            }
          }
        }
        & > div:last-child {
          span {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .viewAll {
    a {
      font-weight: 500;
      width: 130px;
      font-size: 15px;
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        #fa2d4a 0%,
        #ed8c92 51%,
        #fa2d4a 100%
      );
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0px 17px 25px #f0c7cf;
      border-radius: 10px;
      display: block;
    }
  }
  #specialize {
    & > h2 {
      margin-top: 100px;
      line-height: 2;
    }
    & > p {
      line-height: 2;
    }
    & > div {
      display: flex;
      grid-gap: 20px;
      & > div {
        padding: 40px 0px;
        color: black;
        background: white;
        width: calc(100% / 4);
        border-radius: 20px;
        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  #different {
    margin-top: 150px;
    & > div {
      & > h1 {
        line-height: 2;
      }
      & > p {
        line-height: 1.8;
      }
      a {
        font-weight: 500;
        width: 130px;
        font-size: 15px;
        text-decoration: none;
        background-image: linear-gradient(
          to right,
          #fa2d4a 0%,
          #ed8c92 51%,
          #fa2d4a 100%
        );
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0px 17px 25px #f0c7cf;
        border-radius: 10px;
        display: block;
      }
      iframe {
        width: 100%;
        border-radius: 20px;
      }
    }
  }
  #work {
    margin-top: 150px;
    & > div {
      &:hover {
        cursor: pointer;
        border-radius: 20px;
        background: white;
      }
      h5 {
        line-height: 1.6;
      }
      p {
        font-size: 14px;
        line-height: 2;
      }
      & > a {
        font-weight: 500;
        font-size: 15px;
        border: solid thin #bfc2c7;
        border-radius: 15px;
        padding: 12px;
        width: 120px;
        span {
          color: black;
        }
        &:hover {
          border: solid thin #ed8c92;
          span {
            color: white;
          }
          background-image: linear-gradient(
            to right,
            #fa2d4a 0%,
            #ed8c92 100%,
            #fa2d4a 100%
          );
        }
      }
    }
  }
}
